[2020-02-17 04:25] ghost opened #1 "Clustering issues"
Hi there,

I am using your Docker image in a Compose environment for a few servers that I host for our small Discord community. I am trying to get clustering to work so that we can travel to different servers/maps in the cluster. When we go to an obelisk or drop and select the option to transfer to another server, it successfully presents the other servers in the cluster. When we go to transfer ou

[2020-02-17 05:46] thmhoag commented on #1
Hey @id0827502. Off the top of my head my guess would be that the `am_arkopt_ClusterDirOverride` option is either not getting mapped correctly or not being honored by the server. Here would be my suggestions on a few things to try:

1) Remove the `am_arkopt_ClusterDirOverride` option and try using the default directory for cluster saves, which is `/ark/server/ShooterGame/Saved/clusters`. In the ex

[2020-02-17 06:12] ghost commented on #1
@thmhoag I figured it out: it was a typo. `am_arkopt_ClusterDirOveride` was missing an 'r' in 'override'. I have tested this and it now all works.

Apologies for the trouble and thank you for replying so promptly. Your Docker image works very well.

[2020-02-17 06:12] #1 closed, assigned to nobody

[2020-02-17 14:48] thmhoag commented on #1
@id0827502 Glad you were able to figure it out! Thanks for updating the issue here.

[2020-03-20 17:44] Tychus opened #2 "Server config"
While trying to configure the server, changing different values https://ark.gamepedia.com/Server_Configuration#Configuration_Files  after launching the server the values are never loaded correctly seems like the server falls back to some sort of default settings file. Are we missing something here ? where should we put our custom config file

[2020-03-20 17:51] thmhoag commented on #2
Hey @Tychus, could you be more specific on where you are putting your config files?

The image is setup so that the config can be mounted to the `/ark/config` directory and it will be symlinked to the correct directory in the server path, but in theory I don't believe there would be anything preventing you from mounting it directly to the `/ark/server/ShooterGame/Saved/Config/LinuxServer` path, I'

[2020-03-20 18:01] Tychus commented on #2
Thanks for answering.
We wrote the first file in `/ark/config` didn't work, we saved it after that in `/ark/server/ShooterGame/Saved/Config/LinuxServer` which also didn't work.

Found some `DefaultXXXX.ini` files around not sure if that's what ends up being the used i'll try changing stuff their see if it works. Did you load modified multipliers before ? if yes can you tell us how to do it ?

[2020-03-20 18:19] thmhoag commented on #2
Yes, loading the configs should work. Could you post an example of the `docker run` command you're using, or the `docker-compose.yml` if you're using that?

I don't typically use the `DefaultXXX.ini` files as they can get overwritten when the game updates.

Here's an example of a `docker-compose.yml` file from my test server:
[code]

For this compose file above, the `Game.ini` and `GameUserSetting

[2020-03-23 18:01] thmhoag commented on #2
Hey @Tychus, were you able to get this working?

[2020-03-24 08:09] Tychus commented on #2
This was due to bad configuration on the host side. the problem is solved now thanks.

[2020-03-24 08:10] #2 closed, assigned to nobody

[2020-05-26 03:54] catzoo opened #3 "Different ports"
## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**:  Ubuntu Server 18.04.2

* **`docker run` command or `docker-compose.yml` file**:

### Current:
[code]
### Before:
[code]

## Description of Issue

I'm not sure if i'm using it wrong. For some reason the ports keep changing on me. For example, before I set ``ark_Port=7777`` and the server starts up with it being set to ``7778``.

[2020-05-26 04:14] thmhoag commented on #3
Hey @catzoo. By default the dedicated server will open up two ports, both the one you specify and then another for RawSockets, typically the one you specified +1. So in your case, it would be opening the following:

7777 - the one you specified
7778 - the RawSocket port.

More information on the RawSockets stuff can be found here: https://ark.gamepedia.com/Dedicated_Server_Setup

As far as fixing

[2020-05-26 04:32] catzoo commented on #3
Thank you for responding.

Sorry, I should've put more info in my issue. When I set ``am_ark_port=7777`` for some reason in the run arguments it has ``?Port=7778``. I also tried it using the default environment port ``7778`` and the run arguments go in reverse and have ``?Port=7777``. I mean when I looked at the logs and when it runs the ark server with those arguments.

Or is that normal since it

[2020-05-26 07:09] catzoo commented on #3
There might've not been an issue. I run the ark_server and i'm still seeing the ``?Port`` argument different, this time it was set to ``?Port=7776``.

But I successfully joined the ark server.

Sorry about that and thanks for your help.

[2020-05-26 07:09] #3 closed, assigned to nobody

[2020-05-26 13:34] thmhoag commented on #3
No problem @catzoo, glad you were able to get it figured out.

[2020-05-26 23:52] catzoo commented on #3
oh sorry to comment on a closed issue. I found more information and a solution to the problem I was having.

If anyone is having this issue, it decrease the port by one. So if you're trying to set the port to 7777-7778, set ``Port`` to 7778.

More information here: https://github.com/FezVrasta/ark-server-tools/issues/887

[2020-06-14 15:15] nordcomputer opened #6 "Mod was not successfully downloaded"
## Image Setup Details

* **Image Tag**: v1.4.1

* **Docker Host OS**: Debian 10

* **`docker run` command or `docker-compose.yml` file**:

[code]

## Description of Issue

Having hard times to get mods working - I tried to change the steamcmd part and the steamcmdroot in the compose file, but nothing seems to work. I still get
[code]

## Additional Information

seems like something is going wrong

[2020-06-14 18:51] thmhoag commented on #6
Hey @nordcomputer, this looks like a bug with the image to me. When mounting a volume to the workshop directory, docker is setting the owner of that directory to `root` which causes `steamcmd` to fail to write to the directory.

I have committed a fix for this (pr #7) and cut a new release, you should be able to pull the new tag, `thmhoag/arkmanager:1.4.2`, and test again to make sure it resolves

[2020-06-14 23:28] nordcomputer commented on #6
Hey, thank you for the bugfix - Seems like its not possible to install mods - unfortunately the server itself isnt working for me.
I deleted the unnecessary entries. The ./ark was intended, as I need to restore a backup later.
Still, the server exits with `An update is currently in progress. Start aborted`

My edited docker-compose.yml:

[code]
Is this file running at your system?
FYI: I tested wi

[2020-06-15 00:19] thmhoag commented on #6
Hey @nordcomputer, I do run mods on my servers using this image with no issues. I'll re-test with your latest `docker-compose.yml`. In the meantime, could you post the logs from the container from the start up until it fails?

[2020-06-15 05:33] thmhoag commented on #6
Just got around to testing with that second `docker-compose.yml` and I didn't experience any issues starting it and letting it download the mods and install the game.

Would be very interested to see your logs to see if there are any other factors I might be missing.

[2020-06-15 07:09] nordcomputer commented on #6
Really strange, since its containered...I did a docker-compose up > arkserver.log
You can find it here:
https://pastebin.com/Mum8xj2C

[2020-06-15 13:56] thmhoag commented on #6
Hmm, interesting. The error `sed: can't read /ark/server/steamapps/appmanifest_376030.acf: No such file or directory` catches my eye, I noticed that one when I tested locally before making the permissions fix.

Have you tested specifically with the `thmhoag/arkserver:1.4.2` tag? Technically the `latest` tag should match it, but might be worth trying with that tag specifically just to see if there

[2020-06-15 16:54] domano opened #8 "Crossplay with epic games version"
## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**: linux, Ubuntu 18.04

* **`docker run -v steam:/opt/ark/steam -v ark:/opt/ark/server -p 27015:27015 -p 27015:27015/udp -p 7778:7778 -p 7778:7778/udp -p 7777:7777 -p 7777:7777/udp -e am_ark_SessionName=Dengland -e am_ark_ServerAdminPassword="secret :)" -e am_ark_ServerPasswort="secret :)" --restart=always -d thmhoag/arkserver`
##

[2020-06-15 17:25] thmhoag commented on #8
Fascinating. Had no idea ARK was in the Epic Game store now. I believe you need either one or both of the following flags to be set:

* `-crossplay`
* `-epiconly`

You can set flags on this image by using an environment variable with the prefix `am_arkflag_<optname>=<anything>`.

So you might try with one or both of the flags I listed above, like this:

* `-e am_arkflag_crossplay=""`
* `-e am_arkf

[2020-06-15 19:54] nordcomputer commented on #6
I pulled the repo again and changed the image to: 1.4.2
After I removed all old images and volumes, I started all over.
Looks a bit better - but the log suggests, that there are 2 missing files (Game.ini and GameUserSettings.ini)
You can find the new logfile here: [PasteBin](https://pastebin.com/J8s2Dvyg)
Does the server create them by itself if needed or do I have to mount them, and if yes, how d

[2020-06-15 20:33] thmhoag commented on #6
The server should create them automatically, but it may be a bit confused in this case. The `/ark/config` directory was meant as a convenience location to drop configs to be used as "overrides". This was mostly to make it easy for people that wanted to mount the `/ark` path as a named volume instead of a hostpath volume.

Since you're using a hostpath volume for the entire `/ark` directory, it wou

[2020-06-15 20:47] nordcomputer commented on #6
Yes, I saw that behavior, too (directories instead of files being created) - the server seems to work now and I was also able to restore a backup. The only thing that doesnt work ist PVPGamma enabled - did I set the Variable correctly in the compose file?

[2020-06-15 21:10] thmhoag commented on #6
Looks like that one would need to be set in your `GameUserSettings.ini` file directly. After starting the server once, you should be able to find that file in the `./ark/server/ShooterGame/Saved/Config/LinuxServer` directory and add that setting in that file, then restart the server.

[2020-06-15 21:46] nordcomputer commented on #6
Thank you - that worked - so, (in general) it is not possible to set that option inside the compose file?

[2020-06-15 21:46] #6 closed, assigned to thmhoag

[2020-06-15 23:19] thmhoag commented on #6
@nordcomputer Not currently, the image is setup to map environment variables to `arkmanager` variables, so you can use any of the options listed at https://github.com/FezVrasta/ark-server-tools and just prefix them with `am_`.

If there was a command line flag for that variable you could do it using `am_ark_EnablePvPGamma=true`, but it doesn't look like there is according to the ARK dedicated serv

[2020-06-17 18:04] jcoker85 commented on #8
@thmhoag Just to clarify on this, the flag should be

`-e am_arkflag_crossplay="true"`

not with an empty parameter. I was able to get both Steam and EGS users to connect this way.

[2020-06-17 19:17] domano commented on #8
Thank you both :)

The volumes were just a copy and paste error.

[2020-06-18 02:25] thmhoag commented on #8
Thanks for the clarifcation @jcoker85. I'll update the README.md with this info for others to see in the future.

[2020-06-20 03:23] caporalesimone opened #9 "GameUserSettings.ini from /ark/config is not well linked"
## Image Setup Details

- **Image Tag:** latest
- **Docker Host OS:** linux, Ubuntu 20.04

## Description of Issue

GameUserSettings.ini located in volume ark at
`/ark/config/GameUserSettings.ini`
is first symbolic linked by `run.sh` but then is overwritten by arkmanager at startup

The only solution seems to use env variables.

How can i set an env variable for this?

[code]

[2020-06-21 13:46] cbchd opened #10 "[S_API FAIL] SteamAPI_Init() failed; SteamAPI_IsSteamRunning() failed."
###########################################################################

# Ark Server - Sat Jun 20 20:47:02 UTC 2020

###########################################################################

Ensuring correct permissions...

Cleaning up any leftover arkmanager files...

Creating arkmanager.cfg from environment variables...

No game files found. Installing...

Creating crontab...

Starting c

[2020-06-21 15:41] #8 closed, assigned to thmhoag

[2020-06-21 15:46] thmhoag commented on #10
Hey @cbchd, have you tried connecting to the server even with this error? This error is common with the linux version of the server and is kind of a red herring. All of my servers see this error on every startup but continue to function without issue.

[2020-06-21 15:47] thmhoag commented on #9
Hey @caporalesimone, looking into this one. Could you provide your `docker run` statement or your `docker-compose.yml` and an example of a `GameUserSettings.ini` that you would be using, just so I can make sure to accurately reproduce the issue?

[2020-06-21 16:04] cbchd commented on #10
Thanks thmhoag for getting back to me! I'll try it out and get back to you in a few hours :-D

[2020-06-21 20:42] caporalesimone commented on #9
Hi,
i prefer to use podman instead of docker but i don't think is the problem.

This is my actual run

`podman run -it --name ark --env-file ./env.list -v steam:/home/steam -v ark:/ark -p 27015:27015 -p 27015:27015/udp -p 7778:7778 -p 7778:7778/udp -p 7777:7777 -p 7777:7777/udp thmhoag/arkserver`

and this is the restart command

`podman start -ai ark`

env.list:

`am_arkflag_crossplay=True
am_ark

[2020-06-22 02:39] cbchd commented on #10
Server boots up and I can connect on steam, yay! One of the issues we had was not allocating 6 GB of RAM to the docker container, so the server never fully started up and was hitting the m.2 drive at 100% for 25mins.

We tried getting epic games to work with the server, but currently all we get is a timeout error, with port 7777 port-forwarded, crossplay enabled, and battleye disabled, while tryin

[2020-06-22 17:45] thmhoag commented on #10
No problem @cbchd, glad you were able to figure it out. 👍  I'll go ahead and close the issue.

[2020-06-22 17:45] #10 closed, assigned to nobody

[2020-06-22 17:52] thmhoag commented on #9
Hey @caporalesimone, completely agree about podman, just want to make sure I'm getting as close as I can to reproducing the exact issue.

For this one in particular, could you add the following environment variables to your container and see if it resolves the issue for you:

* `am_arkGameUserSettingsIniFile=/ark/config/GameUserSettings.ini`
* `am_arkGameIniFile=/ark/config/Game.ini`

If the above

[2020-06-22 19:30] caporalesimone commented on #9
@thmhoag i did what you asked but does not change.
I don't see any setting that i wrote in /ark/GameUserSettings.ini

`env.list was:`

`
am_arkflag_crossplay=True
am_arkflag_NoBattlEye=True

am_serverMap=TheIsland
am_arkwarnminutes=15
am_arkGameUserSettingsIniFile=/ark/config/GameUserSettings.ini
am_arkGameIniFile=/ark/config/Game.ini

am_ark_SessionName=Terraria Team
am_ark_ServerAdminPassword=##

[2020-06-22 19:40] thmhoag commented on #9
Hey @caporalesimone, was your file located at `/ark/GameUserSettings.ini` or `/ark/config/GameUserSettings.ini`?

The image will generally expect it to be in `/ark/config/GameUserSettings.ini`.

[2020-06-22 19:45] caporalesimone commented on #9
Sorry my mistake while writing previous message. It was in correct path `/ark/config/GameUserSettings.ini`

[2020-06-25 20:05] nordcomputer opened #12 "Server not listening after todays ARK update"
## Image Setup Details
see my last issue: [https://github.com/thmhoag/arkserver/issues/6](https://github.com/thmhoag/arkserver/issues/6)

## Description of Issue

Description of issue
Hey there again - my server stopped listening after the recent update. After about 30 minutes, the server seems to restart itself:

`2020-06-25 18:51:05: Server PID: 363
arkserver | [S_API FAIL] SteamAPI_Init() faile

[2020-06-26 08:37] nordcomputer commented on #12
nevermind - it just took **very** long, until the server was finally back up (after I restartet it).

[2020-06-26 08:37] #12 closed, assigned to nobody

[2020-06-27 20:02] jylups opened #13 "Multiple Server instances"
## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**: Linux Ubuntu

* **`docker run` command or `docker-compose.yml` file**:
[code]

## Description of Issue

Description of issue
Getting a time out when running multiple instances of the docker image. Opened all the ports in firewall. Redirected previous and next port from ark_Port. Does anybody have this problem? Is this an ark se

[2020-06-29 16:11] GotSka81 opened #14 "Container restart policy not set by documented "docker run" command"
## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**: Ubuntu 18.04.4 LTS

* **`docker run` command or `docker-compose.yml` file**:
[code]

## Description of Issue

The container restart policy is not set by documented "docker run" command.  The default restart policy for Docker is "no", and as a result, the container will stop and fail to restart when the arkmanager CRON job for r

[2020-06-29 21:05] fredrikscode opened #15 "Timeout when connecting, doesn't use specified gameport"
* **Image Tag**: latest
* **Docker Host OS**:  Ubuntu 18.04.4 LTS
* **`docker run` command or `docker-compose.yml` file**:
[code]

## Description of Issue
The server goes up as expected but for some reason clients get timeout when connecting.

## Additional Information
There's currently no software or hardware firewall on the host. No errors when not running detached. Displays port 7776 in server

[2020-06-30 01:00] catzoo commented on #15
Arkmanager decreases the ark_port by one. So if you want 7777 - 7778, I recommend changing ``ark_port`` to 7778. I also found you can stop this by adding the environment  variable ``am_arkNoPortDecrement="true"``. I recommend looking in the arkmanager readme for more information since I haven't used that configuration before.

More information here - https://github.com/FezVrasta/ark-server-tools/i

[2020-06-30 20:53] fredrikscode commented on #15
I appreciate your response. Tried am_arkNoPortDecrement but didn't have any luck with it so I set the ark_Port to 7778 and it solved it. Thank you for that! I've been looking around quite a lot for people with the same issue and I seem to have missed it. Have a good one!

[2020-06-30 20:53] #15 closed, assigned to nobody

[2020-07-07 11:44] GotSka81 opened #16 "Daily restart with "saveworld" parameter deletes "TheIsland.ark" world save file"
## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**: Ubuntu 18.04.4 LTS

* **`docker run` command or `docker-compose.yml` file**:
[code]

## Description of Issue

The default CRON job for restarting the server includes the parameter "--saveworld".  Running the "saveworld" command while there are no players connected to the server results in the deletion of the current world save

[2020-07-09 00:40] thmhoag commented on #9
Hey @caporalesimone, sorry for the delay here. I've attempted to reproduce this with my own servers but I am seeing the file get linked properly. Based on your original `podman` command, it looks like you're using a named volume for the `/ark` mount? If so, how did you end up getting the `GameUserSettings.ini` into the named volume?

I used `docker cp`, but that's about the only other thing that I

[2020-07-09 18:31] thmhoag commented on #13
Hey @jylups, sorry for the delay here. There shouldn't be an issue running multiple containers on the same host. I currently run 6+ ark servers on the same host at any given time without issue.

Do you see anything in the container logs about not being able to open/listen on a specific port?

[2020-07-09 18:38] thmhoag commented on #14
Hey @GotSka81, great find on this one. The docs in this repo could certainly use some improvement. I think I almost always add the `--restart always` flag to all my containers so I guess I didn't think about it when writing the docs.

That said, this would be a great first-issue for a PR if you'd like to contribute. 😄

[2020-07-09 19:04] thmhoag commented on #16
Hey @GotSka81, this certainly seems like an odd one to me. That parameter is _supposed_ to make sure the world is saved before performing the restart to ensure there isn't a rollback. Previously, without it, my servers would sometimes see a small "rollback" of 5-10 minutes depending on the time of the restart and the time of the last automatic world save by the server.

Looking at the code in [ark

[2020-07-21 02:39] thesnargleuffigus opened #17 "usr/local/bin/arkmanager: line 1208: /ark/server/ShooterGame/Binaries/Linux/ShooterGameServer: Permission denied bad pid"
I had a server going a week ago until it started shutting down as soon as it started up. This started a day after the server update so im not sure if its related. Now I have a fresh install of openmediavault, docker and portainer. Im setting server up from scratch and unable to get server instance started. This is the message im getting.

###########################################################

[2020-07-23 13:31] #17 closed, assigned to nobody

[2020-07-31 03:27] ghost opened #18 "Error connecting to server: Connection refused at -e line 33."
## Image Setup Details

thmhoag/arkserver:latest

Debian 9.12

* **`docker run` command or `docker-compose.yml` file**:
[code]
made a lot of changes to the container since the initial run command

## Description of Issue
I'm unable to see/connect to my second server. First server is running fine with similar settings. When trying to run command saveworld I'm presented with the following error:
[co

[2020-07-31 10:38] #18 closed, assigned to nobody

[2020-08-01 05:11] problemss opened #19 "Can't get the ARK server to run"
I am running this container on a Mac.

This is my run command:
`docker run -d -v /opt/docker/Steam:/home/steam/Steam -v /opt/docker/Ark:/ark -p 27015:27015 -p 27015:27015/udp -p 7778:7778 -p 7778:7778/udp -p 7777:7777 -p 7777:7777/udp -e am_ark_SessionName='#####' -e am_ark_ServerPassword='#####' -e am_ark_ServerAdminPassword='#####' --restart unless-stopped --name ark thmhoag/arkserver`

When I r

[2020-08-02 22:44] TheInternetIsReal commented on #19
I'm running into a similar problem. I ran the container for the first time like so:
`docker run -d -v /ark/ark-server-disk/steam:/home/steam/Steam -v /ark/ark-server-disk/:/ark -p 27015:27015 -p 27015:27015/udp -p 7778:7778 -p 7778:7778/udp -p 7777:7777 -p 7777:7777/udp thmhoag/arkserver`
And there are no server files at all:
[code]
When I run the arkmanager status command I get this:
[code]
Did I

[2020-08-02 23:07] TheInternetIsReal commented on #19
Actually, it looks like the app ID for Ark was changed 2 days ago from 356110 to 376030: https://steamdb.info/app/376030/

[2020-08-03 18:16] problemss commented on #19
@TheInternetIsReal I ended up running the install, 'docker exec ark arkmanager install' and all looks to be installed now. I thought this package didn't need that, but I must have been confused.

I did have to reboot it after the install finished, I thought it failed, but after coming back to it when several hours passed I was pleasantly surprised the server was running.

[2020-08-03 18:16] #19 closed, assigned to nobody

[2020-08-11 03:27] #9 closed, assigned to nobody

[2020-08-11 22:21] #16 closed, assigned to nobody

[2020-08-16 18:55] Ramblurr opened #20 "ark-server-tools update released v1.6.54"
Many thanks for providing this image!

Just a friendly FYI that ark-server-tools has released an updated version: v.1.6.54

Normally I'd just wait to get the update without making an issue, but this release has a critical fix for servers that have epic players connecting like mine, namely https://github.com/arkmanager/ark-server-tools/commit/89e80dec9687849a010e9efac057a82c584efe86

Without this c

[2020-08-17 22:55] n00ris opened #21 "README.md does not match reality"
## Image Setup Details

* **1.4.3**:

I'm not sure the  Readme.md is correct after
https://github.com/thmhoag/arkserver/pull/11

If I start the docker and I do not add am_arkflag_crossplay, then the entry is missing in the arkmanager.cfg.
If it is missing, afaik the default is false.
My preferred solution would be to explicitly set arkflag_crossplay=true per default.

[2020-08-18 18:19] thmhoag commented on #20
Hey @Ramblurr, I've got a pending PR for this. As soon as the CI builds pass I will merge it and cut a release.

[2020-08-18 18:22] thmhoag commented on #21
Hey @n00ris, you are correct. For now, I'll update the README.md to reflect that the value is `false` by default.

I'm not necessarily partial to having the default value be one or the other, but before I change it I'd like to verify that it won't have any impact on servers with mods first (since Crossplay servers can't currently use mods).

According to the ARK server documentation it shouldn't,

[2020-08-18 18:25] #21 closed, assigned to thmhoag

[2020-08-18 21:00] #20 closed, assigned to thmhoag

[2020-08-18 21:19] thmhoag commented on #20
Hey @Ramblurr, this should be fixed, you'll want to pull `thmhoag/arkserver:v1.5.0`.

[2020-08-28 09:55] #13 closed, assigned to nobody

[2020-08-28 10:39] AvoMMH opened #23 "Steam Update Error crash"
## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**: Ubuntu Server 16.04

* **`docker run` command or `docker-compose.yml` file**:
$ docker run -d \
    -v steam:/home/steam/Steam \  # mounted so that workshop (mod) downloads are persisted
    -v ark:/ark \  # mounted as the directory to contain the server/backup/log/config files
    -p 27015:27015 -p 27015:27015/udp \  # steam q

[2020-08-28 16:55] catzoo commented on #23
After doing some searching, state 0x202 actually means out of space. I recommend seeing if you have enough space to install the server.

More info here: https://github.com/GameServerManagers/LinuxGSM/issues/1656

[2020-08-28 19:14] thmhoag opened #24 "FAQ and Common Issues Docs"
## Description of Issue
Need to improve documentation around image/container setup and maintenance. Could be added as wiki docs to the repo.

See list below for some examples of content that might fit.

## Additional Information
Issue #23 - Steam Update Error crash
Issue #3, #15 - Arkmanager Port Setting

[2020-08-28 19:14] thmhoag commented on #23
Thanks @catzoo, I suspect that is the case as well. However, I do think the repo's documentation could be a bit better around common issues like this, so I have added an issue to create an "FAQ" and "Common Issues" section in the repo wiki at some point down the line.

Issue #24

[2020-08-29 08:25] catzoo commented on #24
I recommend adding how `am_ark_Port` works. Since it will subtract it by one. Ex: to set it for 7777-7778 ``am_ark_Port`` would be set to 7778.

#3
#15
[also this issue on arkmanager #887](https://github.com/arkmanager/ark-server-tools/issues/887)

[2020-08-29 13:56] AvoMMH commented on #23
Thanks, that was the reason it woulnt start up.

But now I am having trouble joining from EpicGames Ark. Steam works fine but Epic players cant join.
I added the AM crossplatform flag, but it didnt work.

[2020-08-29 15:02] AvoMMH commented on #23
nvm it just took some time to boot up

[2020-08-29 15:02] #23 closed, assigned to nobody

[2020-09-01 01:10] elight opened #25 "Running with suggested args fails"
See below. Using the args suggested in the README fails. I tried this after having some issues with my own docker-compose.

## Image Setup Details

* **Image Tag**: latest

* **Docker Host OS**: Ubuntu 18.04
* **`docker run` command or `docker-compose.yml` file**:
[code]

## Description of Issue
Output is:
[code]

[2020-09-02 00:39] elight commented on #25
Digging a little further, this appears to be happening within arkmanager.

[2020-09-02 00:53] elight commented on #25
I failed to google. It's because my VM's partition didn't have enough disk space.

[2020-09-02 00:53] #25 closed, assigned to nobody

[2020-10-23 20:07] michaeldelago opened #26 "run.sh is too slow due to chown inherently taking a long time."
## Image Setup Details

* **Image Tag**: Latest

* **Docker Host OS**: Ubuntu

* **`docker run` command or `docker-compose.yml` file**: Kubernetes Manifest, not relevant

## Description of Issue

the `run.sh` file uses `sudo chown steam:steam -R /ark`, which is slow.

It should use `find -not -user steam -not -group steam -exec chown steam:steam -v {} \;

## Additional Information

To be fair, I a

[2020-10-25 05:43] thmhoag commented on #26
Merged and should now be included in the `:1.6.0` tag of the image. Thanks!

[2020-10-25 05:43] #26 closed, assigned to michaeldelago

[2020-11-20 12:56] Gamewalker opened #28 "Example Docker-compose ideally with cluster configuration"
Hello,

I hope its ok to ask here, I dont have an issue.
Anyone out there who has a working docker-compose file for a cluster configuration build on this repo?

Thanks

edit:
managed to write this one:
[code]

but docker compose up -d isnt working because the instances share PID/lock files, what am I missing? docker-compose up -d scorched is working fine (single instance)

edit2:
Its working with

[2020-11-25 17:34] raphaelliskor-web opened #29 "Container exits after first crontab run"
## Image Setup Details

* **Image Tag**:  thmhoag/arkserver

* **Docker Host OS**:  Debian

* **`docker run` command or `docker-compose.yml` file**:
`docker run -d \
    -v steam:/home/steam/Steam \  # mounted so that workshop (mod) downloads are persisted
    -v ark:/ark \  # mounted as the directory to contain the server/backup/log/config files
    -p 27015:27015 -p 27015:27015/udp \  # steam qu

[2020-11-25 21:40] thmhoag commented on #29
Hi @raphaelliskor-web. The behavior you're describing is actually intentional. The goal is to keep the lifecycle of the container tied to the lifecycle of the dedicated server. This is pretty standard for "normal" Docker images (web servers, Kubernetes services, etc) but a little strange here because we are forcing automatic restarts from inside the container itself. This makes it a little easier

[2020-11-25 22:22] thmhoag commented on #28
Hey @Gamewalker, your second `docker-compose.yml` file is very similar to my own cluster. You've also uncovered a limitation I've been sort of "fighting" off and on for a long time, which is that each container requires it's own isolated install of the entire dedicated server. All of my most recent work to attempt to fix that limitation is in the [feature/s6-overlay](https://github.com/thmhoag/ark

[2020-11-26 17:43] raphaelliskor-web commented on #29
Hello @thmhoag,
thanks for your reply and explanation.

If this is intended I would suggest either of two changes:

 Exclude the cronjob generation for the restart from the run.sh script OR
 Give a hint about the `--restart=always` flag in the documentation of this image.

Just one more thing: It seems not all arkmanager commands are useful currently. Some of them need to restart the server, which

[2020-11-26 18:33] thmhoag commented on #29
Agreed, the docs are certainly lacking. They need a significant overhaul to include a lot of additional information.

As far as the commands go, are there any specific that you're attempting to use that are not working correctly due to the container restart?

[2020-11-28 17:20] raphaelliskor-web commented on #29
Short answer: No.

Long answer:
With the current workaround I dont have any. Generally all commands that implicitly or explicitly restarts the ark-server would shutdown the container.
Because I run the server in crossplay mode I can't use any mods. Thats why I don't know if the "modding" commands do an implicit restart, e.g. `arkmanager installmod`.

[2020-12-29 04:11] #28 closed, assigned to nobody

[2020-12-30 07:51] Trollkoekske commented on #14
Hey @thmhoag,

Is there any way to change the restart time? Used the --restart always and works fine 👍

[2020-12-31 18:06] #29 closed, assigned to nobody

[2021-01-04 20:15] mrk3767 opened #30 "Health check port"
## Image Setup Details
* **Image Tag**: v1.6.0
* **Docker Host OS**: Amazon Linux

## Description of Issue
AWS NLBs used with ECS require IP-based target groups. These groups require that health checks must be enabled. The only type of health check available is TCP. The only port I can currently run these against is the RCON port, but I don't want to expose that to the public.

TCP checks run ever

[2021-01-07 02:10] mrk3767 commented on #30
Something like this: https://github.com/thmhoag/arkserver/pull/31

[2021-01-29 21:36] maecki-maecki opened #32 "arkserver docker image has sudo security issue CVE2021-3156 - please provide new image"
## Description of Issue

CVE-2021-3156 means sudo is exploitable - this is fixed in xenial, but arkserver/steamcmd image has to be rebuild/republished for fix to be included ...

https://ubuntu.com/security/CVE-2021-3156

[2021-02-01 21:43] jkread opened #33 "GameUserSettings.ini"
## Image Setup Details

version: '2'
services:
  ark:
    image: thmhoag/arkserver
    container_name: ark
    network_mode: bridge
    restart: always
    ports:
      - 7777:7777
      - 7777:7777/udp
      - 7778:7778
      - 7778:7778/udp
      - 27015:27015
      - 27015:27015/udp
    volumes:
      - ark:/ark
      - ark-steam:/home/steam
    environment:
      - TZ=America/Chicago
      - a

[2021-02-01 21:59] jkread commented on #33
I have now also tried

ark/server/ShooterGame/config/Linux/
ark/server/ShooterGame/config/LinusServer/

based on Issues on the Ark Server Tools github with no luck.

[2021-02-02 02:44] jkread commented on #33
For historical and hysterical purposes the correct placement is
/ark/server/ShooterGame/saved/config/LinusServer/GameUserSettings.ini

[2021-02-09 11:10] #30 closed, assigned to nobody

[2021-02-09 18:50] tctfox commented on #33
hei there
I was searching the GameUserSettings.ini too. So you just need to edit that file and it will edit the game values? I am a bit confused by the name "shooter game"

[2021-02-09 20:25] jkread commented on #33
ShooterGame is the in-house name for the Ark Game.

I haven't gotten this to work 100%. Supposedly you can just put GameUserSettings.ini with you custom values in /ark/config and it will merger them when it build the file. Here is what mine looks like.  If you put them in /ark/server/ShooterGame/saved/config/LinusServer/GameUserSettings.ini it will work but get overwritten the next time the server

[2021-02-09 20:32] tctfox commented on #33
Thanks!
So just editing this file seems to work for you. A reply by the creator of the docker would be cool too

With "rebuild". Do you mean if you redeploy the container for example or also just a restart?
Cheers

[2021-02-10 20:52] jkread commented on #33
I think even just a restart cause a script to run that overwrites it. I’ve tweaked mine quite a bit so working on rolling it back to test this more.

[2021-02-10 22:22] tctfox commented on #33
That would defenitely be cool keep me posted. Having it resetting the game settings on every restart would be quite the big problem honestly. I need to find a solution to that before playing with my friends

[2021-02-11 01:23] Laynezilla opened #35 "Add a uid/gid environment variable option"
## Description of Issue
It would be useful to be able to run this container as a different user. Something like [this](https://github.com/TuRz4m/Ark-docker/blob/master/user.sh) would work fine.

[2021-02-11 01:37] jkread commented on #33
Haven't verified yet as I need to wait a bit to redownload game files but line 93 of run.sh has the following so putting the GameUserSettings.ini in /ark/config should work.  As far as I can tell this repository is no longer active. I put in a fix to allow time zones to work correctly when passed in as an environment variable a month and it still hasn't been accepted or even acknowledged.  I have

[2021-02-11 06:44] tctfox commented on #33
Awesome dude thanks
Strange that those symlinks are even in the docker image here but somehow they wont get symlinked...
A docker compose for that image would be cool mate.

Also like in another issue here on this github puid/guid variables for env would make a huge difference. It is probably really easily done if you use that user.sh file from the other image

[2021-02-11 07:19] tctfox commented on #35
Yes this is true. I run into some issues earlier and another image that has puid etc values worked fine..

[2021-02-11 08:35] jkread commented on #33
I've added a docker compose sample to mine. I'll have to look at the puid/guid as I avoid those by using volumes instead of mounts. I'm still working on the gameusersettings.ini issue. I'll open issues for both over there tomorrow.

[2021-02-11 11:03] tctfox commented on #33
Hei there thanks!
Can I somehow message you? I got an issue wich if you want I would like to ask you about

It is an error I only get with your docker image. i think I spammed here enough already that's why I ask

[2021-02-11 20:25] jkread commented on #35
I've taken up this issue in my fork. I've already found where the script does not correctly update ownership. If there are still reasons to add environment variable support I will look at it.

https://github.com/jkread/arkserver

[2021-02-11 20:27] jkread commented on #33
Just go to https://github.com/jkread/arkserver and either open a new issue or use the discussion page.

By the way I have this GameUserSettings.ini thing fixed over there.

[2021-02-11 20:50] jkread commented on #32
I haven't gotten any luck getting response to anything for a while. I forked and have fixed a few of the outstanding issues.

https://github.com/jkread/arkserver

[2021-02-11 20:53] jkread commented on #14
You can change the cronjob to change when the server does its server and restart. Be aware this doesn't currently honor Timezones. I fixed this issue and a few others in my fork. https://github.com/jkread/arkserver

[2021-02-14 15:53] molnarviktor86 opened #36 "Game.ini"
Hi,

It seems like the gameusersettings.ini are applied on my dedicated server, but no matter what I do the Game.ini changes are just not working.

[/script/shootergame.shootergamemode]
MatingIntervalMultiplier=0.1
EggHatchSpeedMultiplier=20
BabyMatureSpeedMultiplier=10
BabyCuddleIntervalMultiplier=0.1

What am I missing here? FezVrasta's configuration parameter's again point to changes that has t

[2021-02-17 19:40] jheinitz opened #37 "Can this image be used for the Ark Mobile game on Android Smartphones"
Hello,

I have a simple question. Is it possible to use this image to host a server for the Ark Mobile game on Android Smartphones? I tried to find something, but I cannot find the difference between the different Ark worlds.

Thanks in advance and best regards

Jens

[2021-03-16 21:53] DrPsychick commented on #36
@molnarviktor86 : did you try writing the section case sensitive?
`[/Script/ShooterGame.ShooterGameMode]`

[2021-03-19 18:28] #33 closed, assigned to nobody

[2021-03-19 19:34] thmhoag commented on #32
Sorry for the delay here @maecki-maecki. Do you have a link to the description of that CVE for posterity? Happy to re-open and address the issue but I wasn't able to find any specifics when I searched for that CVE number.

[2021-03-19 19:37] maecki-maecki commented on #32
https://ubuntu.com/security/CVE-2021-3156

Sorry, had a duplicate digit in that number ...
Updated first comment, too

[2021-03-19 19:41] thmhoag commented on #33
@jkread Sorry for the delay, I haven't been able to take the time to maintain this repo very well in the last few months.

To clarify the intended functionality, the `/ark/config` folder is where this config file should go. For better or worse, that file structure was _supposed_ to make it easier to add in configs instead of having to deal with knowing the full path in the ShooterGame directory. A

[2021-03-19 19:45] thmhoag commented on #35
Sorry for the delay on this @Laynezilla. Agreed this would be a valuable add. Going to mark this issue properly so it doesn't get closed by the bot. Operating with a different user hasn't been well tested to date.

[2021-03-19 19:48] thmhoag commented on #32
Thanks @maecki-maecki, all good. I'm re-opening this, should be a pretty straight-forward fix with an update to the base image.

Linking the base image for posterity: https://github.com/thmhoag/steamcmd

[2021-03-19 19:50] thmhoag commented on #37
Hey @jheinitz, sorry for the delay here. As far as I know, it's not currently possible to use the Steam dedicated server for ARK mobile. I'm going to mark this image as a documentation issue as the docs need to be updated to reflect that.

[2021-03-19 19:51] thmhoag commented on #36
@molnarviktor86 Were you able to get this to work? I haven't experienced any issues getting the Game.ini file to load properly on my own servers, but I'm happy to take a closer look if you're still experiencing the issue.

[2021-04-22 12:33] #35 closed, assigned to nobody

[2021-04-22 12:33] #36 closed, assigned to nobody

[2021-04-22 12:33] #37 closed, assigned to nobody

[2021-06-03 23:28] Gornoka commented on #24
added docker compose and docs for it in #39
if this is desired i can add more docs regarding that later

[2021-06-09 19:13] Gamewalker opened #40 "SteamCMD needs a subfolder called steamapps"
## Description of Issue
Steam released a new update and install directory now needs a subfolder called steamapps.
If you dont have a subfolder called steamapps, you will get an error:
`ERROR! Failed to install app '376030' (Disk write failure)`

## Additional Information
Reported this issue at https://github.com/arkmanager/ark-server-tools/issues/1184 too

Temporary fix is to create a folder under

[2021-06-10 22:09] Gamewalker commented on #40
fixed in ARK Server Tools v1.6.59, we should update

[2021-06-13 04:35] ghost opened #41 "rsync command not found"
## Image Setup Details

* **Image Tag**: thmhoag/arkserver:latest

* **Docker Host OS**: Linux-Debian

* **`docker run` command or `docker-compose.yml` file**: *
[code]
    version: '3'

    services:
    your-compose-file-here:
        image: thmhoag/arkserver:0.0.0
[code]
Applying update from staging directory

/usr/local/bin/arkmanager: line 2187: rsync: command not found

Update to 6829683 com

[2021-06-24 08:16] mattiasghodsian opened #42 "mkdir: cannot create directory '/ark/log': Permission denied"
Am trying to set up a cluster server but when i spin it up i get **Permission denied** on **/ark/log**, any idea to solve this?

docker-compose -up
[code]
[code]

docker-compose.yml
[code]

theisland.env
[code]

scorched.env
[code]

[2021-06-24 09:32] mattiasghodsian commented on #42
Looks like i had the wrong ownership on **config** directory

[2021-06-24 09:32] #42 closed, assigned to nobody

[2021-07-14 16:00] #40 closed, assigned to nobody

[2021-07-16 22:55] #41 closed, assigned to nobody

[2021-08-10 20:30] devonjones opened #43 "container is failing with a segfault"
## Image Setup Details

* **Image Tag**:

docker image ls
REPOSITORY             TAG       IMAGE ID       CREATED        SIZE
thmhoag/arkserver      latest    6a8bf3f18366   9 months ago   845MB

* **Docker Host OS**:

lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic

* **`docker run` command or `doc

[2021-09-01 00:35] trueshanti opened #44 "EnablePVPGamma ignored"
i cannot find a way to get "EnablePVPGamma" active ..

i use "am_EnablePvPGamma=true" in the env-file used to build/run the container. This finds its way into the arkmanager.cfg-file , but not into ./ShooterGame/Saved/Config/LinuxServer/GameUserSettings.ini <- there it defaults to "false"
other "am_"-values definitely DO work.

any clue what i do wrong ?
br

[2021-09-02 02:07] #44 closed, assigned to nobody

[2021-09-14 06:05] #43 closed, assigned to nobody

[2022-01-05 03:00] Hblei16 opened #45 "Admin"

[2022-02-23 09:29] #45 closed, assigned to nobody

[2022-02-23 12:02] titus-be opened #46 "question"

[2022-02-23 12:02] #46 closed, assigned to nobody

[2022-04-24 10:12] mattiasghodsian opened #47 "Cluster setup - invalid mode"
AM trying to setup a cluster server on my Ubuntu machine and keep getting **invalid mode:**

Root folder
[code]

log
[code]
docker-compose.yml
[code]

[2022-04-24 11:20] #47 closed, assigned to nobody

[2022-09-19 03:12] M00M004U opened #48 "Missing Env File From Test Folder"
Sorry to bother you with such a simple question, reading your clustering setup at the bottom of your readme...
It references an .env file in a Test folder.
Where exactly can I get the .env file and/or Test folder as I don't see them anywhere in your GitHub tree.

Thanks!
Mr. Moo42

[2022-10-09 00:09] BlakeNoel opened #49 "Cannot update server version, nor can I use arkmanager. Requesting assistance."
I've been running the image for about a month before I noticed that folks are unable to connect to the server. They told me I need to update the server version as the client has recently been updated. Here's the script I use to bring up the container (note that I substituted the password information with `*`, but they are valid strings):

[code]

When looking through the documentation of this proj

[2022-10-18 20:28] BlakeNoel commented on #49
bump

[2022-11-02 08:09] #48 closed, assigned to nobody